@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 0% 100%;
    --foreground: 20 72% 5%;
    --muted: 40 22.58% 93.54%;
    --muted-foreground: 20 10% 26%;
    --popover: 20 39% 100%;
    --popover-foreground: 20 72% 5%;
    --card: 40 30% 96.08%;
    --card-foreground: 20 72% 5%;
    --border: 20 0% 0%;
    --input: 20 2% 94%;
    --primary: 20 96% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21.82 18.03% 88.04%;
    --secondary-foreground: 20 17% 28%;
    --accent: 20 17% 88%;
    --accent-foreground: 20 17% 28%;
    --destructive: 14 80% 30%;
    --destructive-foreground: 14 80% 90%;
    --ring: 20 96% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 46% 2%;
    --foreground: 20 13% 100%;
    --muted: 20 11% 9%;
    --muted-foreground: 20 10% 74%;
    --popover: 20 46% 2%;
    --popover-foreground: 20 13% 100%;
    --card: 20 46% 2%;
    --card-foreground: 20 13% 100%;
    --border: 20 2% 15%;
    --input: 20 2% 15%;
    --primary: 20 96% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 20 5% 15%;
    --secondary-foreground: 20 5% 75%;
    --accent: 20 5% 15%;
    --accent-foreground: 20 5% 75%;
    --destructive: 14 80% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 20 96% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-card {
  background-color: hsl(40 30% 96.08%);
  border-radius: 25px;
  border: 1px solid #000;
  box-shadow: 0px 4px 0px 0px #000;
}

button {
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0px 4px 0px 0px #000;
  padding: 8px 16px;
}

input {
  border-radius: 25px;
  border: 1px solid #F0F0EF;
  height: 44px;
}

textarea {
  border-radius: 25px;
  border: 1px solid #F0F0EF;
}
